.container{
        background-position: center;
        background-image: url("https://image.jimcdn.com/app/cms/image/transf/none/path/s8c20b730a87166d4/backgroundarea/ic785492e3f749dd4/version/1492663224/image.jpg");
        height:100%;
        width:100%;
}
nav   {
    display: inline-block;
      }
.nav a   {
  padding:10px;
  font-size: 15px;
  color:#332200;
  }
    a:hover{
    box-shadow: 3px 3px 3px #42cef4;
    background-color: #ad42f4;
  }
  ul {
    margin-top: 30px;
    text-align:right;
      }
  body {
      margin: 5%;
      text-align: center;
      padding-top: 5%;
      color: #1d0d23;
    }
  ol {
    text-align: left;
  }
  ol li {
    text-align: center;
  }
  marquee {
    text-align: center;
    color: #8838a5;
    font-size: 40px;
  }
